@CHARSET "ISO-8859-1";
body{
	font: 15px/1.5 Arial,Helvetica,sans-serif;
	padding:0;
	margin:0;
    height: auto;
	background-color: #f4f4f4;
	
	
}
.container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
    padding-top: 15;
}

.container-fluid>.navbar-nav>li>a {
    padding-top: 32px;
    /* padding-bottom: 15px; */
}
.container
{
	width:90%;
	margin: auto;
	overflow: hidden;
}
header
{
	background: #35424a;
	color: #ffffff;
	padding-top: 10px;
	min-height: 50 px;
	border-bottom: #e8491d 5px solid;
}
header .highlight{
	color: #e8491d;
	font-weight: bold;
}
header #branding{
	align: left;
}
#showcase
{
	min-height: 586px;
	background: url('road.jpg') no-repeat;
	
	padding : 20px;
	text-align: center;
	 

	
}
#boxes
{
	margin-top: 20px;
	
	
}
#showcase h1{
	
	margin-top: 10px;
	color: #e8491d;
	font-size: 55px;
	margin-bottom: 20px;
}
#showcase p{
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
}
#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 20px;
	margin: 0;
	
}
#boxes .box img{
	width: 90px;
}
footer 
{
	padding: 10px;
	background-color: #e8491d;
	text-align: center;
	font-size: 20px;
	margin:0px;
	color: #ffffff;
	font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif
	
}
table {
	width:20%;
	margin: auto;
	color: #ffffff;
	text-align: left;
	
}
.radioButton{
	
	padding-left: 75px;

	
}
.mybutton{
	background-color: #e8491d;
	border: none;
	color: #ffffff;
	
    cursor: pointer;
    text-align: center;
	
}

tr{
height: 20%;	
}

select {
	width:100%;
	border:none;
	border-radius: 4px;
	
}
.mylink{
	color: #ffffff;
}
.mymarquee{
	color:#e8491d;
}

a.mylink:hover {
	background-color:transparent !important;
	color:#e8491d;
}
.carousel-inner > .item > img {
  width:100%;
  min-height:500px;
}
.case1{
    background-color:green;
    box-shadow: 0px 5px 10px black;
    border-radius: 3px;
    border: none;
    color: white;
    width: 150px;
    height: 45px;
    margin-left: 450px;
    margin-right: 10px;
    
}
.case1:hover{
	box-shadow: 0px 5px 10px #e8491d;
    width: 170px;
	transition: all 0.5s;
	
}

.case2{
    background-color:#e8491d;
    box-shadow: 0px 5px 10px black;
    border-radius: 3px;
    border: none;
    color: white;
    width: 150px;
    height: 45px;
}
.case2:hover{
    width: 170px;
	transition: all 0.5s;
	box-shadow: 0px 5px 10px #e8491d;
}